{% extends "news/base.html" %}

{% block title_block %}
    <title>首页-新经资讯</title>
{% endblock %}

{% block script_block %}
    <script type="text/javascript" src="../../static/news/js/index.js"></script>
{% endblock %}

{% block category_block %}
    <ul class="menu fl">
        {% for category in categories %}
            <li {% if loop.index == 1 %}{# 初始界面总是定在最新 #}class="active"{% endif %} data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
        {% endfor %}  {# （在index.js中）在前端中当点击哪个类别哪个类别就会添加"class='active'，对应其他都会被remove" #}
    </ul>
{% endblock %}


{% block content_block %}
    <ul class="list_con fl">
    </ul>
{% endblock %}